@font-face {
    font-family: 'Quicksand-Bold'; 
    src: url('../fonts/Quicksand-Bold.woff2') format('woff2'), 
         url('../fonts/Quicksand-Bold.woff') format('woff'),
         url('../fonts/Quicksand-Bold.ttf') format('truetype');       
    font-weight: bold; 
    font-style: normal; 
    font-display: swap;
}
