$bg: #eef1f3;
$blue: #0674ec;
$border: #7c7979;
$green: #62d03b;
$red: #ff6a6c;
$hex: #f6f7fb;
$shadowgrey: #747b86;
$shadow: #dcdcdc;
$grey: #ececec;
$purple: #7347c1;
$bginput: #d9dfe5;
$tinput: #898f96;
$icons: #7e8fa1;